*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    display: grid;
    max-width: 800px;
    height: 100vh;
    margin: 0 auto;
}
.cabecalho{
    background-color: #F78B00;
    display: grid;
    grid-template-areas: "logo menu menu" ". apresentacao .";
    grid-template-columns: 100px 1fr 100px;
}

.logo{
    grid-area: logo;
    margin-left: 70px; 
    margin-top: 20px;
    font-size: 20px;
    
}

.navegacao{
    grid-area: menu;
    display: flex;
    flex-direction: row;
    margin-left: 70px;
    margin-top: 10px;
}

.apresentacao{
    grid-area: apresentacao;
    background-color: #00285F;
    display: grid;
    grid-template-areas: "titulo imagem imagem" "sub imagem imagem";
    height: 250px;
    width: 100vh;
    color: #FFFFFF;
    border-radius: 5px;
}

.navegacao div{
    margin: 10px;
    font-size: 14px;    
}

.titulo{
   display: grid;
   grid-area: titulo;
   width: 300px;
   font-weight: bolder;
   font-size: 24px;
   justify-content: space-evenly;
   align-content: end;
}
.sub{
    display: grid;
    grid-area: sub;
    width: 300px;
    font-size: 14px;
    justify-content: space-evenly;
    align-content: start;
    text-align: center;

}
.imagem{
    display: grid;
    grid-area: imagem;
    width: 325px;
    padding-top: 20px;
}
.imagem img{
    width: 300px;
    height: 256px;
    
}



